footer
  .flex.flex-col.gap-5.text-xs.font-semibold.px-4.py-5.relative.shadow-sm.z-40(class='sm:bg-white bg-[#F3F3F3] sm:flex-row sm:gap-0 sm:justify-between text-[#7B7F9D] sm:px-6')
    div(class="text-center sm:text-left")
      | &copy; Xtremax Vite Boilerplate
    .flex.justify-center.gap-5(class=' sm:justify-start')
      .flex.gap-5.justify-center(class='sm:justify-items-start')
        a
          svg.fill-current(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' class='text-[#7B7F9D]')
            path(d='M11.7231 9L12.1675 6.10437H9.38908V4.22531C9.38908 3.43313 9.77721 2.66094 11.0216 2.66094H12.2847V0.195625C12.2847 0.195625 11.1385 0 10.0425 0C7.75439 0 6.25877 1.38688 6.25877 3.8975V6.10437H3.71533V9H6.25877V16H9.38908V9H11.7231Z')
        a
          svg.fill-current(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' class='text-[#7B7F9D]')
            path(d='M14.3553 5.23856C14.3655 5.38069 14.3655 5.52284 14.3655 5.66497C14.3655 9.99997 11.066 14.9949 5.03553 14.9949C3.17766 14.9949 1.45178 14.4568 0 13.5228C0.263969 13.5533 0.51775 13.5634 0.791875 13.5634C2.32484 13.5634 3.73603 13.0457 4.86294 12.1624C3.42131 12.132 2.21319 11.1878 1.79694 9.88831C2 9.91875 2.20303 9.93906 2.41625 9.93906C2.71066 9.93906 3.00509 9.89844 3.27919 9.82741C1.77666 9.52281 0.649719 8.20303 0.649719 6.60913V6.56853C1.08625 6.81219 1.59391 6.96447 2.13194 6.98475C1.24869 6.39591 0.670031 5.39084 0.670031 4.25378C0.670031 3.64466 0.832437 3.08628 1.11672 2.59897C2.73094 4.58881 5.15734 5.88828 7.87812 6.03044C7.82737 5.78678 7.79691 5.533 7.79691 5.27919C7.79691 3.47206 9.25884 2 11.0761 2C12.0202 2 12.873 2.39594 13.472 3.03553C14.2131 2.89341 14.9238 2.61928 15.5532 2.24366C15.3096 3.00509 14.7918 3.64469 14.1116 4.05075C14.7715 3.97972 15.4111 3.79694 15.9999 3.54316C15.5533 4.19287 14.9949 4.77153 14.3553 5.23856Z')
        a
          svg.fill-current(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' class='text-[#7B7F9D]')
            path(d='M8.00315 4.40635C6.01565 4.40635 4.41252 6.00947 4.41252 7.99697C4.41252 9.98447 6.01565 11.5876 8.00315 11.5876C9.99065 11.5876 11.5938 9.98447 11.5938 7.99697C11.5938 6.00947 9.99065 4.40635 8.00315 4.40635ZM8.00315 10.3313C6.71877 10.3313 5.66877 9.28447 5.66877 7.99697C5.66877 6.70947 6.71565 5.6626 8.00315 5.6626C9.29065 5.6626 10.3375 6.70947 10.3375 7.99697C10.3375 9.28447 9.28752 10.3313 8.00315 10.3313ZM12.5781 4.25947C12.5781 4.7251 12.2031 5.09697 11.7407 5.09697C11.275 5.09697 10.9031 4.72197 10.9031 4.25947C10.9031 3.79697 11.2782 3.42197 11.7407 3.42197C12.2031 3.42197 12.5781 3.79697 12.5781 4.25947ZM14.9563 5.10947C14.9031 3.9876 14.6469 2.99385 13.825 2.1751C13.0063 1.35635 12.0125 1.1001 10.8906 1.04385C9.7344 0.978223 6.26877 0.978223 5.11252 1.04385C3.99377 1.09697 3.00002 1.35322 2.17815 2.17197C1.35627 2.99072 1.10315 3.98447 1.0469 5.10635C0.981274 6.2626 0.981274 9.72822 1.0469 10.8845C1.10002 12.0063 1.35627 13.0001 2.17815 13.8188C3.00002 14.6376 3.99065 14.8938 5.11252 14.9501C6.26877 15.0157 9.7344 15.0157 10.8906 14.9501C12.0125 14.897 13.0063 14.6407 13.825 13.8188C14.6438 13.0001 14.9 12.0063 14.9563 10.8845C15.0219 9.72822 15.0219 6.26572 14.9563 5.10947ZM13.4625 12.1251C13.2188 12.7376 12.7469 13.2095 12.1313 13.4563C11.2094 13.822 9.0219 13.7376 8.00315 13.7376C6.9844 13.7376 4.79377 13.8188 3.87502 13.4563C3.26252 13.2126 2.79065 12.7407 2.54377 12.1251C2.17815 11.2032 2.26252 9.01572 2.26252 7.99697C2.26252 6.97822 2.18127 4.7876 2.54377 3.86885C2.78752 3.25635 3.2594 2.78447 3.87502 2.5376C4.7969 2.17197 6.9844 2.25635 8.00315 2.25635C9.0219 2.25635 11.2125 2.1751 12.1313 2.5376C12.7438 2.78135 13.2156 3.25322 13.4625 3.86885C13.8281 4.79072 13.7438 6.97822 13.7438 7.99697C13.7438 9.01572 13.8281 11.2063 13.4625 12.1251Z')
  .flex.items-center.justify-between.py-2.px-4(class='sm:hidden text-[10px] sm:text-[11px] bg-[#030F6B] sm:px-6 text-[#7B7F9D]')
    div.time 
    .text-white.space-x-2(class='sm:space-x-4')
      a  Policy 
      span.border-r(class='border-[#7B7F9D]')
      a  Contact us
